body {
    margin: 0;
    background: #343434;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

* {
    vertical-align: top;
}

.wrapper {
    width: 940px;
    padding: 10px;
    margin: 15px auto 0;
    background: #fafafa;
    position: relative;

    .date-selector {
        width: 370px;
        color: #343434;
        margin: 0 auto;
        position: relative;

        .up, .down {
            width: 125px;
            height: 30px;
            display: inline-block;
            position: absolute;
            z-index: 10;
        }

        .month-down {
            left: 0;
            top: 0;
        }

        .month-up {
            left: 0;
            bottom: 0;
        }

        .days-down {
            left: 120px;
            top: 0;
        }

        .days-up {
            left: 120px;
            bottom: 0;
        }

    }

    .months, .days, .year {
        width: 120px;
        display: inline-block;
    }

    .slot {
        width: 120px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;
    }

    .fade-out {
        width: 400px;
        height: 90px;
        position: absolute;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(250,250,250, 1) 0%, rgba(250,250,250, 0) 40%, rgba(250,250,250, 0) 60%, rgba(250,250,250,1) 100%);
    }
}
