body {
    margin: 0;
    background: #343434;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

* {
    vertical-align: top;
}

.wrapper {
    width: 940px;
    padding: 10px;
    margin: 15px auto 0;
    background: #fafafa;
    position: relative;

    .hide-overflow {
        height: 100px;
        position: relative;
        overflow: hidden;
        background: blue;

        .months {
            top: 0;
            position: absolute;
            -webkit-transition: top .1s ease;
        }
    }

    .month, .days, .year {
        width: 100px;
        padding: 10px;
        text-align: center;
        display: inline-block;
    }

    .top-spacer {
        width: 100px;
        height: 35px;
        padding: 0 10px;
        background: purple;
    }

    .up, .down {
        width: 100px;
        padding: 10px;
        color: white;
        background: red;
        display: inline-block;
    }
}

/*    ***    */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}