body {
    margin: 0;
    background: #343434;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

* {
    vertical-align: top;
}

.wrapper {
    width: 940px;
    padding: 10px;
    margin: 15px auto 0;
    background: #fafafa;
    position: relative;

    .month, .days, .year {
        width: 100px;
        padding: 10px;
        text-align: center;
        display: inline-block;
    }

    .up, .down {
        width: 100px;
        padding: 10px;
        color: white;
        background: red;
        display: inline-block;
    }
}

/*    ***    */

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}